.row3-row1,
.row3-row2 {
  display: flex;
}
.page4-row3 {
  width: 90% !important;
  overflow-x: hidden !important;
}
.page4-row3 h3 {
  font-family: "Nexa Bold";
  font-size: 20px;
  padding-bottom: 12px;
}
.page4-row3 input {
  width: 93% !important;
}
.row3-row1 .form-input {
  width: 50%;
  margin-right: 20px;
}
.page4-row3 button {
  width: 94% !important;
  padding: 20px !important;
  border-radius: 30px !important;
  align-self: center !important;
  font-size: 22px !important;
  margin-top: 28px !important;
}
.row3-row2 .form-input:nth-child(1) {
  width: 100%;
  margin-right: 5px;
}
.row3-row2 .form-input:nth-child(2) {
  width: 30%;
  margin-right: 35px;
}
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots {
  width: 13.4px;
  height: 13.4px;
  background: #f2f2f2;
  color: #f3f2f3;
  border-radius: 50%;
  box-shadow: 22.4px 0, -22.4px 0;
  animation: dots-u8fzftmd 1s infinite linear alternate;
}

@keyframes dots-u8fzftmd {
  0% {
    box-shadow: 22.4px 0, -22.4px 0;
    background: ;
  }

  33% {
    box-shadow: 22.4px 0, -22.4px 0 rgba(71, 75, 255, 0.13);
    background: rgba(71, 75, 255, 0.13);
  }

  66% {
    box-shadow: 22.4px 0 rgba(71, 75, 255, 0.13), -22.4px 0;
    background: rgba(71, 75, 255, 0.13);
  }
}

@media only screen and (max-width: 1000px) {
  .page4-row3 h3 {
    align-self: flex-start !important;
    font-size: 15px;
  }
  .form-input {
    text-align: center;
  }
  .page4-row1 h1 {
    font-size: 30px !important;
  }
  .page4-row1 h3 {
    font-size: 15px !important;
  }
}
