.page5-container {
  display: flex;
  flex-direction: column;
  padding: 70px 150px;
}
.page5-row1 {
  display: flex;
  flex-direction: column;
}
.page5-row1 p {
  font-family: "Nexa Light";
  font-size: 30px;
  color: rgb(74, 73, 73);
}
.page5-button {
  background: #fab00b !important;
  color: #303160 !important;
  font-size: 30px !important;
  width: 240px !important;
  padding: 18px !important;
  border-radius: 34px !important;
  margin-left: 14px;
}
.header-form {
  display: flex;
  justify-content: flex-start;
  padding: 35px 0px;
}
.row2-heading {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-section img {
  width: 74px;
}
.text-section {
  margin-left: 20px;
}
.text-section .text-row1 {
  display: flex;
  align-items: center;
  color: #2a2b55;
}
.text-row1 h1 {
  font-family: "Nexa Bold";
  font-size: 24px;
}
.text-row1 p {
  font-size: 18px;
  font-family: "Causten-Regular";
  margin-left: 15px;
  margin-top: 10px;
}
.text-row2 p {
  font-size: 16px;
  font-family: "Causten-Regular";
  color: #2a2b55;
}
.outer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px;
}
.submit-button {
  margin-left: auto;
  padding: 15px;
  width: 180px;
  border: 0;
  background: #171a41;
  color: #fff;
  font-family: "Nexa Bold";
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}
.page5-row2 .row2-input {
  margin-top: 30px;
  margin-left: 20px;
}
.page5-row2 .row2-input textarea {
  padding: 30px;
  height: 250px;
  width: 650px;
  border-radius: 25px;
  font-family: "Causten-Regular";
  font-size: 25px;
}
.page5-row2 .row2-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px;
  align-items: center;
}
.row2-buttons i {
  font-size: 30px;
  cursor: pointer;
}
.row2-buttons label {
  margin-left: 30px;
  margin-top: 3px;
}
.row2-buttons label i {
  font-size: 32px;
}
.page5-row2 {
  width: 100%;
}
.page5-row3 {
  display: flex;
  margin-top: 0px;
  padding: 0px 0px;
  padding-left: 120px;
  width: 100%;
}
.page5-row3-col1 p {
  font-size: 25px;
  margin: 10px 0;
  font-family: "Causten-Regular";
}

.page5-row3-col2 .stars {
  width: auto;
  margin: 15px 0 !important;
  margin-left: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page5-row3-col2 .stars i {
  font-size: 35px;
  margin: 4px 10px;
  color: #bcbbba;
}
.stars {
  margin: 24px 30px !important;
}
@media only screen and (max-width: 1000px) {
  .page5-container {
    padding: 20px 40px;
  }
  .page5-row1 p {
    font-size: 27px;
  }
  .outer {
    flex-wrap: wrap;
    padding: 0;
  }
  .page5-button {
    font-size: 20px !important;
    width: 150px !important;
    padding: 10px !important;
    margin-left: 10px;
    margin-top: 10px;
  }
  .page5-input {
    font-size: 16px !important;
    padding: 15px !important;
    width: 150px !important;
  }
  .header-form {
    margin-top: 20px !important;
    padding: 0px 0px;
  }
  .row2-heading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .image-section img {
    width: 50px;
  }
  .text-section {
    margin-left: 10px;
  }
  .text-section .text-row1 {
    display: flex;
    align-items: center;
    color: #2a2b55;
  }
  .text-row1 h1 {
    font-family: "Nexa Bold";
    font-size: 20px;
  }
  .text-row1 p {
    font-size: 12px;
    font-family: "Causten-Regular";
    margin-left: 5px;
    margin-top: 10px;
  }
  .text-row2 p {
    font-size: 12px;
    margin-top: 4px;
    font-family: "Causten-Regular";
    color: #2a2b55;
  }
  .page5-row2 .row2-input {
    margin-top: 10px;
    margin-left: 0px;
  }
  .page5-row2 .row2-input textarea {
    padding: 10px;
    height: 160px;
    width: 300px;
    border-radius: 25px;
    font-family: "Causten-Regular";
    font-size: 16px;
  }
  .page5-row2 .row2-buttons {
    display: flex;
    padding: 10px 30px;
    align-items: center;
  }
  .submit-button {
    padding: 10px;
    width: 130px;
    font-size: 18px;
  }
  .row2-buttons i {
    font-size: 33px;
    cursor: pointer;
  }
  .row2-buttons i:nth-child(2) {
    margin-left: 18px;
    font-size: 33px;
  }
  .page5-row3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0px 0px;
    width: 100%;
  }

  .page5-row3-col1 p {
    font-size: 18px;
    margin: 12px 0px;
    font-family: "Causten-Regular";
  }

  .stars {
    margin: 0px 0px !important;
  }
}
