.search-results {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.page08-container h1 {
  margin-left: 120px;
  font-family: "Nexa Light";
}
.page08-container .search-results .cards {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.notfound-text {
  display: flex;
  flex-direction: column;
}
.notfound-text h1 {
  font-size: 35px;
  font-family: "Nexa Bold";
}
.notfound-text button {
  padding: 10px;
  margin-top: 30px;
  border-radius: 20px;
  border: 0;
  background-color: rgb(52, 35, 3);
  color: #fff;
  font-family: "Causten-Regular";
  font-size: 20px;
  width: auto;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .page08-container h1 {
    margin-left: 10px;
    font-family: "Nexa Light";
    font-size: 22px;
  }
}
