.page01-container {
  width: 100vw !important;
  height: 100vh;
  background-color: #f9fbfd;
  overflow-x: hidden !important;
}
.triangle-left {
  width: 90em;
  height: 90em;
  position: absolute;
  overflow-x: hidden !important;
  right: -970px;
  top: -500px;
  background-color: #f3f3f2;
  transform: rotate(-159deg) skewX(-30deg) scale(1, 0.966);
  border-top-right-radius: 5%;
  z-index: 1;
}
.contents {
  padding: 30px 206px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.content-left {
  width: 50%;
}
.heading {
  display: flex;
  align-items: center;
}
.text h2 {
  font-size: 60px;
  font-family: "Nexa Bold";
  font-weight: bold;
  color: #272b65;
}
.text h2 span {
  font-size: 118px;
  font-family: "Nexa Bold";
}
.sign {
  font-size: 200px;
  font-family: "Nexa Bold";
  color: #272b65;
}
.para {
  width: 80%;
}
.para p {
  font-size: 25px;
  font-family: "Nexa Light";
  opacity: 0.3;
  line-height: 32px;
}
.cards {
  padding: 150px 0;
  position: relative;
  z-index: 2;
}
/* ResponsiveNess css */

@media only screen and (max-width: 1000px) {
  .triangle-left {
    display: none;
  }
  * {
    overflow-x: visible;
  }
  .contents {
    padding: 0px 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
  .content-left {
    width: 100%;
  }
  .heading {
    display: flex;
    align-items: center;
  }
  .text h2 {
    font-size: 30px;
    font-family: "Nexa Bold";
    font-weight: bold;
    color: #272b65;
  }
  .text h2 span {
    font-size: 68px;
    font-family: "Nexa Bold";
  }
  .sign {
    font-size: 150px;
    font-family: "Nexa Bold";
    color: #272b65;
  }
  .para {
    width: 100%;
  }
  .para p {
    font-size: 15px;
    font-family: "Nexa Light";
    opacity: 0.3;
    line-height: 17px;
  }
  .content-right {
    display: none;
  }
}
